<!doctype html>
<html lang="en" ng-app="RestaurentApp">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/restaurent_app.css' />
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="/javascripts/Dashboard.js"></script>

</head>
<body>

	<!-- the root element of the view assigned to the TweetList javascript controller-->
	<div ng-controller="Dashboard">

		<div class="row">
			<div class="col-lg-12">
				<h1 style="color:#000"><%= title %></h1>
			</div>
		</div>

		<div id="search-container" class="row">
			<div class="col-lg-3">

				<!-- this form will trigger the getTweets function in the javascript controller on submit -->
				
		        <button class="btn btn-default" type="button" ng-click="getAdminView()">Admin View</button>
		        <button class="btn btn-default" type="button" ng-click="getUserView()">Normal User View</button>

		      	<div ng-repeat="restaurent in restaurentList" style="border-style: solid;margin-bottom:5px">
		      		<h4 style="margin-left:5px">{{restaurent.Name}}</h4>
		      		<p style="margin-left:5px">{{restaurent.Address}}</p>
		      	</div>

		      	<div ng-repeat="restaurent in restaurentListWithEdit" style="border-style: solid;margin-bottom:5px">
		      		<div style="margin:5px;font-style:italic;" ng-if="$index==0">Click on Blue Links to Update Model ValueThen Click Update button <hr/></div>
		      		<div>Name of Restaurent - <edit-in-place value="restaurent.Name"></edit-in-place></div>
		      		<div>Address - <edit-in-place value="restaurent.Address"></edit-in-place></div>
		      		<div>Open from <edit-in-place value="restaurent.routine.open"></edit-in-place> to <edit-in-place value="restaurent.routine.close"></edit-in-place></div>
		      		
		      		<button class="btn btn-default" type="button" ng-click="editRestaurent(restaurent._id.$oid,$index)">Update</button>
		      	</div>
   		</div>
		</div>

		

		<div class="row">
			<div class="col-lg-12">

				<!-- this button will trigger the getMoreTweets function in the javascript controller -->
		  	

	  	</div>
	  </div>

	</div>

</body>
</html>
